
#app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'caviar';
  src: url('/src/fonts/caviar_dreams/CaviarDreams.ttf');

  font-family: 'magnisia';
  src:url('/src/fonts/magnisa_sans/MagnisaSans-Regular.ttf');

  font-family: 'milestone';
  src:url('/src/fonts/milestone_brush/MilestoneBrush.ttf');

}

* {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  
}
